---
---

@import "{{ site.theme }}";

/* Force Times New Roman everywhere */
html, body {
  font-family: "Times New Roman", Times, serif !important;
  color: #000000;
  background-color: #ffffff;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif !important;
  font-weight: normal;
}

/* Links */
a {
  font-family: "Times New Roman", Times, serif !important;
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Home page custom elements */
.home-center,
.home-nav,
.home-name {
  font-family: "Times New Roman", Times, serif !important;
}
/* True center alignment for homepage */
.home-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Spacing */
.home-nav {
  font-size: 18px;
  margin-bottom: 60px;
}

.home-name {
  font-size: 22px;
}
