---
---

@import "{{ site.theme }}";

/* Global font + color */
body {
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  background-color: #ffffff;
}

/* Links */
a {
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4 {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}
/* Center home page text a bit more elegantly */
div {
  line-height: 1.6;
}

/* Slightly smaller nav text */
a {
  font-size: 18px;
}
